﻿
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/js/views/js/home.build.js")"></script>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" id="name" name="name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Phone number" id="phone" name="phone">
                </div>
                <div class="col">
                    <div class='input-group date'>
                        <input type='text' class="form-control" id='stdate' name="stdate" />

                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <select id="cb_info" name="cb_info" class="form-control form-control-chosen"></select>
                </div>
                <div class="col">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="chk">
                        <label class="custom-control-label" for="chk">Checkbok</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="rdo1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="rdo1">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="rdo2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="rdo2">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <select id="example-getting-started" class="form-control" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" id="btnSave" class="btn btn-primary">Submit</button>
                    <button type="button" id="btnLoad" class="btn btn-primary">Load Data</button>
                </div>
                
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="datatable-tab" data-toggle="tab" href="#datatable" role="tab" aria-controls="datatable" aria-selected="true">DataTable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="datatablegroup-tab" data-toggle="tab" href="#datatablegroup" role="tab" aria-controls="datatablegroup" aria-selected="false">DataTable Group</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="datatable" role="tabpanel" aria-labelledby="datatable-tab">
                <table id="tbl1" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="datatablegroup" role="tabpanel" aria-labelledby="datatablegroup-tab">
                <table id="tblgrp" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>

    </div>

</body>
</html>
