﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-chosen/dist/css/component-chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/datetimepicker/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-dataTables/css/jquery.dataTables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-dataTables/css/fixedColumns.dataTables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-dataTables/css/buttons.dataTables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-dataTables/css/select.dataTables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-dataTables/css/editor.dataTables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-validation/dist/css/cmxform.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")" />
    <script src="@Url.Content("~/lib/jquery/jquery.build.js")"></script>
    <script src="@Url.Content("~/lib/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/lib/moment/min/moment-with-locales.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-chosen/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")"></script>
    <script src="@Url.Content("~/lib/datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/dataTables.fixedColumns.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/dataTables.editor.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-dataTables/js/dataTables.select.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-lang/js/js.cookie.js")"></script>
    <script src="@Url.Content("~/lib/jquery-lang/js/jquery-lang.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-mark-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/js/main.build.js")"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>
            <ul class="list-unstyled components" id="mainMenu">
                @* <p>Dummy Heading</p>*@
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa fa-list"></i>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="profilebtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tachadej Banditjaroen
                        </button>
                        <div class="dropdown-menu" aria-labelledby="profilebtn">
                            <a id="logoutbtn" class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
            <form id="mainForm">
                @RenderBody()
            </form>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlertTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalAlertMsg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modalBtnConfirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1 lang="en">10028</h1>
                            </div>
                        </div>
                        <form action="" method="post" name="login">
                            <div class="form-group">
                                <label for="usernametxt" lang="en">10023</label>
                                <input type="text" name="username" class="form-control require" id="usernametxt" placeholder="10025" lang="en">
                            </div>
                            <div class="form-group">
                                <label for="passwordtxt" lang="en">10024</label>
                                <input type="password" name="password" id="passwordtxt" class="form-control require" placeholder="10026" autocomplete="off" lang="en">
                            </div>
                            <div class="form-group">
                                <button id="loginbtn" type="button" class=" btn btn-block mybtn btn-primary tx-tfm" lang="en">10028</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="spinner-border text-primary loading-mark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</body>
</html>
