﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")" />
    <script src="@Url.Content("~/lib/jquery/jquery.build.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-lang/js/js.cookie.js")"></script>
    <script src="@Url.Content("~/lib/jquery-lang/js/jquery-lang.js")"></script>
</head>
<body>
    @RenderBody()
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlertTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalAlertMsg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modalBtnConfirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="spinner-border text-primary loading-mark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</body>
</html>
