﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="@Url.Content("~/js/views/js/account.build.js")"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div>
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1 lang="en">10028</h1>
                            </div>
                        </div>
                        <form action="" method="post" name="login">
                            <div class="form-group">
                                <label for="usernametxt" lang="en">10023</label>
                                <input type="text" name="username" class="form-control require" id="usernametxt" placeholder="10025" lang="en">
                            </div>
                            <div class="form-group">
                                <label for="passwordtxt" lang="en">10024</label>
                                <input type="password" name="password" id="passwordtxt" class="form-control require" placeholder="10026" autocomplete="off" lang="en">
                            </div>
                            <div class="form-group">
                                <label for="langtxt" lang="en">10027</label>
                                <select class="form-control" id="langtxt">
                                    <option value="eng" lang="en">10029</option>
                                    <option value="th" lang="en">10030</option>
                                </select>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button id="loginbtn" type="button" class=" btn btn-block mybtn btn-primary tx-tfm" lang="en">10028</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
